body {
    font-family: sans-serif;
}
header{
    text-align: center;
}
h1{
    text-align: center;
}
a{
    border-bottom: 2px solid black;
    text-decoration:none ;
    color: black;
        padding: 5px;

}
main{
    text-align: center;
}
main img{
    border-left: 10px dotted black;
        padding-left: 5px;

    
}
 main p{
    border: 1px solid black;
    border-radius: 10px;
        padding: 5px;
                text-align: left;


}
footer{    
    background-color: black;
    padding: 5px;
}
footer p{
    background-color: white;
        padding: 5px;

}


